.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
